@media(max-width:1170px){
    /* General CSS*/
    .section-subtitle{
        max-width: 60%;
    }
    .header .navbar{
        background-size: cover;
        padding: 2rem;
    }
    .header .navbar-nav{
        margin-top: 2rem;
    }
    .header .navbar-nav .nav-link{
        padding: 0.2rem 0.5rem;
        margin-bottom: 1rem;
    }
    .header .navbar_right span{
        padding: 0.2rem 0.5rem;
    }
    /* 01 Navbar CSS*/
    .banner_section .carousel-item{
        max-width: 90vh;
    }
}
@media (max-width:991px) {
    .about .banner_section,
.peoduct .banner_section,
.gallery .banner_section,
.contact .banner_section{
    padding-top: 12.5rem;
    padding-bottom: 3rem;
   
}
.header .navbar{
    background-size:cover;
    padding: 2rem; 
}
.header .navbar-nav{
    margin-top: 2rem;

}
.header .navbar-nav .nav-link{
    padding: 0.2rem 0.5rem;
    margin-bottom: 1rem;
}
.header .navbar_right span{
    padding: 0.2rem 0.5rem;
}


}

@media(max-width:767px){

    body,html{
        font-size: 8px;
    }
    .section-subtitle{
        max-width: 80%;
    }
    /* 02 banner section */
    .banner_section{
        min-height: 70vh;
    }

    .banner_section .carousel-item{
        max-width: 70vh;
    }
}
@media(max-width:590px){
    body,html{
        font-size: 7px;
    }
}